.questions-container{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.question-block{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgrey;
}

.question{
    margin-bottom: 0.5rem;
    color: #293299;
    font-weight: bold;
}

.options{
    display:flex;
    justify-content: flex-start;
}

.option{
    color: #293264;
    border: 2px solid #4D5B9E;
    padding: 0.5rem 0.5rem;
    margin-right: 1rem;
    font-size: small;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

